@use 'base' as b;

/* LAYOUTS*/

/* ------hero Section------- */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url('../images/kolakolade_portfolio_bg.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  &__text-content {
    margin-top: 15%;
    font-size: b.$sp-3;

    &__typewriter {
      font-family: 'Veteran Typewriter', serif;
    }

    h1 {
      font-size: b.font-size(hero);
      margin-top: b.$sp-2;

      span {
        color: b.color(primary);
      }

      span.accent {
        color: b.color(accent);
      }
    }
  }

  &__text {
    font-size: b.font-size(normal) * 1.2;
    margin: b.$sp-1;
  }

  &__cta {
    margin-top: b.$sp-1;
  }

  &__social {
    margin-top: b.$sp-3 * 4;
  }

  .social-icon {
    margin-right: b.$sp-2;
  }

  &__mobile__icon {
    display: none !important;
  }
}

/* ------Navigation------- */
.hero {
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: b.$height-navbar;
  }

  &__logo {
    width: b.$sp-3 * 8;
  }

  &__list {
    display: inline-block;
    margin: b.$sp-1 b.$sp-2;
  }

  &__link {
    color: b.color(text-1);
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: b.$sp-0-25;
      background: b.color(primary);
      position: absolute;
      left: 0;
      bottom: b.$sp-0-75 * -1;
      transition: 0.25s;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

/* ------About------ */
.about {
  color: b.color(text-2);
  position: relative;

  &__col-1 {
    flex-basis: 35%;
  }

  &__img {
    width: 100%;
    border-radius: b.$sp-1-5;
  }

  &__col-2 {
    flex-basis: 60%;
  }

  &__headline {
    margin-top: b.$sp-0-75;
    margin-bottom: b.$sp-1-5;
  }

  &__description {
    font-size: b.font-size(small);
  }

  &__tab {
    &-titles {
      display: flex;
      margin: b.$sp-2 0 b.$sp-2 * 2;
    }

    &__link {
      margin-right: b.$sp-1-25 * 4;
      font-size: b.font-size(h3);
      font-weight: b.font-weight(medium);
      cursor: pointer;
      position: relative;

      &::after {
        content: '';
        width: 0;
        height: b.$sp-0-25;
        background: b.color(primary);
        position: absolute;
        left: 0;
        bottom: b.$sp-0-75 * -1;
        transition: 0.5s;
      }

      &.active::after {
        width: 65%;
      }
    }
  }

  &__links {
    &__items {
      display: inline-block;
      color: b.color(text-3);
      font-size: font-size(smaller);
      margin-top: b.$sp-0-5;
      margin-bottom: b.$sp-0-25;
    }
  }

  &__tab-content {
    display: none;

    &.active {
      display: block;
    }
  }

  &__skills__icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* ------Portfolio------- */
.portfolio {
  padding: b.$sp-3 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(b.$sp-3 * 8, 1fr));
    gap: b.$sp-3;
    margin-top: b.$sp-2;
  }

  &__work {
    border-radius: b.$sp-1;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;

    &__image {
      width: 100%;
      border-radius: b.$sp-1;
      display: block;
      transition: transform 0.5s;
    }

    &__layer {
      width: 100%;
      height: 0;
      background: linear-gradient(rgba(0, 0, 0, 0.6), b.color(primary));
      border-radius: b.$sp-1;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 b.$sp-2 * 2;
      text-align: center;
      font-size: b.font-size(small);
      opacity: 0;
      transition:
        height 0.5s,
        opacity 0.5s;

      .portfolio__work__title {
        font-weight: b.font-weight(500);
        margin-bottom: b.$sp-2;
      }

      .portfolio__work__link-item {
        margin-top: b.$sp-2;
        color: b.color(primary);
        text-decoration: none;
        line-height: b.$sp-2;
        background-color: b.color(text-1);
        padding: b.$sp-0-75 b.$sp-1;
        border-radius: b.$sp-1-5;
        text-align: center;
        display: inline-block;
        margin-left: b.$sp-0-5;

        &:hover {
          background-color: b.$color-grey-light;
          box-shadow: 0px 2px 5px rgba(250, 250, 250, 0.7);
        }

        &:active {
          transform: translateY(2px);
          background-color: darken(b.$color-grey-light, 10%);
        }
      }
    }

    &:hover {
      .portfolio__work__image {
        transform: scale(1.1);
      }

      .portfolio__work__layer {
        height: 100%; /* Expand the layer */
        opacity: 1; /* Show the layer */
      }
    }
  }

  &__link {
    margin: b.$sp-1-25 * 4 auto;
  }
}

//---Contact----
.contact {
  &__col-1 {
    flex-basis: 35%;
  }

  &__col-2 {
    flex-basis: 60%;
  }

  &__detail {
    margin-top: b.$sp-1-5 * 2;
  }

  .detail-icon {
    color: b.color(text);
    margin-right: b.$sp-1;
  }

  .social {
    margin-top: b.$sp-1-5 * 2;
    &-icon {
      font-size: b.font-size(bigger);
      margin-right: b.$sp-1-25;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  &__cv {
    margin-top: b.$sp-3 * 5;
    background-color: b.color(primary);

    &:hover {
      background-color: transparent;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__form {
    width: 100%;
  }

  &__input {
    width: 100%;
    border: 0;
    outline: none;
    background-color: b.color(secondary);
    padding: b.$sp-1-5;
    margin: b.$sp-1-5 0;
    color: b.color(text);
    font-size: b.font-size(big);
    border-radius: b.$sp-0-5;
  }

  #msg {
    display: block;
    color: b.color(text-3);
    margin-top: b.$sp-1-5;
  }
}
